html {
  font-size: 62.5%;
}

main {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 65vh;
}

* {
  text-decoration: none;
  color: inherit;
  font-family: "Montserrat", sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.suggestievak {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: gray;
}
.suggestievak__expertise {
  font-size: 2.5rem;
  color: #FF0000;
}
.suggestievak__imagevergrootglas {
  width: 2rem;
}
.suggestievak__vgimage {
  width: 4rem;
}
.suggestievak__vergrootglas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding-bottom: 0.5rem;
}

#searchArea {
  display: none;
}

.slideshow {
  padding-top: 100rem;
}

.inhoud {
  display: flex;
  align-items: center;
  padding-top: 9rem;
  justify-content: space-between;
}
.inhoud__content {
  font-size: 2rem;
  padding: 4rem;
}
.inhoud__contentarticle {
  width: 50%;
}
.inhoud__slideshow {
  width: 45%;
}
.inhoud__slideshowimg {
  width: 40rem;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  width: 40rem;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.organisatie {
  padding-top: 5rem;
}
.organisatie__titel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.organisatie__subtitel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding-bottom: 4rem;
}
.organisatie__article {
  padding: 5rem;
}
.organisatie__p {
  font-size: 2rem;
}

.werkwijze {
  padding-top: 5rem;
  background: linear-gradient(-145deg, white 14%, red 22rem);
}
.werkwijze__titel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #FFFFFF;
}
.werkwijze__subtitel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding-bottom: 4rem;
  color: #FFFFFF;
}
.werkwijze__article {
  padding: 5rem;
}
.werkwijze__p {
  font-size: 2rem;
  color: #FFFFFF;
}

.werkenbij__titel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 3rem;
}
.werkenbij__subtitel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  font-size: 3rem;
}
.werkenbij__article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.werkenbij__p {
  font-size: 2rem;
}

.werkenbij2__article2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #FF0000;
}
.werkenbij2__p2 {
  font-size: 2rem;
  color: #FFFFFF;
}

.projectenimg {
  background-color: #808080;
  padding: 3rem;
}
.projectenimg__article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectenimg__video {
  width: 40rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg__article2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 6rem;
}
.projectenimg__img1 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg__img2 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}

.projecten {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding-top: 4rem;
}
.projecten__article1 {
  display: flex;
  gap: 15rem;
}
.projecten__article2 {
  display: flex;
  gap: 15rem;
}
.projecten__article3 {
  display: flex;
  gap: 15rem;
}
.projecten__article4 {
  display: flex;
  gap: 15rem;
}
.projecten__img {
  width: 40rem;
  border-radius: 5rem;
}

.projectsection1 {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectsection1__img {
  width: 40rem;
  border-radius: 4rem;
}
.projectsection1__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  font-size: 3rem;
}

.projectsection2 {
  padding-top: 4rem;
}
.projectsection2__article {
  background-color: #FF0000;
  padding: 5rem;
}
.projectsection2__p {
  font-size: 2rem;
  color: #FFFFFF;
}

.projectsection3 {
  padding-top: 4rem;
}
.projectsection3__article {
  padding: 5rem;
}
.projectsection3__p {
  font-size: 2rem;
}

.aics {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aics__img {
  width: 40rem;
  height: 40rem;
  border-radius: 4rem;
}
.aics__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  font-size: 3rem;
}

.aics2 {
  padding-top: 4rem;
}
.aics2__article {
  background-color: #FF0000;
  padding: 5rem;
}
.aics2__p {
  font-size: 2rem;
  color: #FFFFFF;
}

.aics3 {
  padding-top: 4rem;
}
.aics3__article {
  padding: 5rem;
}
.aics3__p {
  font-size: 2rem;
}

.projectenimg2 {
  background-color: #808080;
  padding: 3rem;
}
.projectenimg2__article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectenimg2__video {
  width: 40rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg2__article2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 6rem;
}
.projectenimg2__img1 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg2__img2 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}

.renovatie {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.renovatie__img {
  width: 40rem;
  height: 40rem;
  border-radius: 4rem;
}
.renovatie__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  font-size: 3rem;
}

.renovatie2 {
  padding-top: 4rem;
}
.renovatie2__article {
  background-color: #FF0000;
  padding: 5rem;
}
.renovatie2__p {
  font-size: 2rem;
  color: #FFFFFF;
}

.renovatie3 {
  padding-top: 4rem;
}
.renovatie3__article {
  padding: 5rem;
}
.renovatie3__p {
  font-size: 2rem;
}

.projectenimg3 {
  background-color: #808080;
  padding: 3rem;
}
.projectenimg3__article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectenimg3__video {
  width: 40rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg3__article2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 6rem;
}
.projectenimg3__img1 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg3__img2 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}

.Wereldburger {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Wereldburger__img {
  width: 40rem;
  height: 40rem;
  border-radius: 4rem;
}
.Wereldburger__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  font-size: 3rem;
}

.Wereldburger2 {
  padding-top: 4rem;
}
.Wereldburger2__article {
  background-color: #FF0000;
  padding: 5rem;
}
.Wereldburger2__p {
  font-size: 2rem;
  color: #FFFFFF;
}

.Wereldburger3 {
  padding-top: 4rem;
}
.Wereldburger3__article {
  padding: 5rem;
}
.Wereldburger3__p {
  font-size: 2rem;
}

.projectenimg4 {
  background-color: #808080;
  padding: 3rem;
}
.projectenimg4__article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectenimg4__video {
  width: 40rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg4__article2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 6rem;
}
.projectenimg4__img1 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg4__img2 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}

.Slavernijmuseum {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Slavernijmuseum__img {
  width: 40rem;
  height: 40rem;
  border-radius: 4rem;
}
.Slavernijmuseum__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  font-size: 3rem;
}

.Slavernijmuseum2 {
  padding-top: 4rem;
}
.Slavernijmuseum2__article {
  background-color: #FF0000;
  padding: 5rem;
}
.Slavernijmuseum2__p {
  font-size: 2rem;
  color: #FFFFFF;
}

.Slavernijmuseum3 {
  padding-top: 4rem;
}
.Slavernijmuseum3__article {
  padding: 5rem;
}
.Slavernijmuseum3__p {
  font-size: 2rem;
}

.projectenimg5 {
  background-color: #808080;
  padding: 3rem;
}
.projectenimg5__article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectenimg5__video {
  width: 40rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg5__article2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 6rem;
}
.projectenimg5__img1 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg5__img2 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}

.test {
  background-color: red;
  height: 4rem;
  width: 4rem;
}

.rama {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rama__img {
  width: 40rem;
  height: 40rem;
  border-radius: 4rem;
}
.rama__h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  font-size: 3rem;
}

.rama2 {
  padding-top: 4rem;
}
.rama2__article {
  background-color: #FF0000;
  padding: 5rem;
}
.rama2__p {
  font-size: 2rem;
  color: #FFFFFF;
}

.rama3 {
  padding-top: 4rem;
}
.rama3__article {
  padding: 5rem;
}
.rama3__p {
  font-size: 2rem;
}

.projectenimg2 {
  background-color: #808080;
  padding: 3rem;
}
.projectenimg2__article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectenimg2__video {
  width: 40rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg2__article2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 6rem;
}
.projectenimg2__img1 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}
.projectenimg2__img2 {
  width: 40rem;
  height: 35rem;
  border: 0.2rem solid #FF0000;
}

.header {
  background: linear-gradient(70deg, white 30%, red 0rem);
}
.header__pmb {
  font-size: 4rem;
}

#header {
  background-color: white;
  padding: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__ulcontact {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__li {
  margin-right: 20px;
}

.header__a {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}

.header__logo {
  max-width: 150px;
  height: auto;
}

.header__logoList {
  margin-right: 20px;
}

.footer {
  background-color: gray;
  height: 15rem;
  display: flex;
  align-items: center;
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  font-size: 2rem;
}
.footer__ul1 {
  font-size: 3rem;
}

/*# sourceMappingURL=style.scss.map */
