@use "./../abstracts/vars";
@import "../abstracts/mixins";

.footer{
    background-color: gray;
    height: 15rem;
    display: flex;
    align-items: center;
   

    &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
    font-size: 2rem;
    }

    &__ul1{
        font-size: 3rem;
    }
}
