
html{
    font-size: 62.5%;
}

main{
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 65vh;
}

*{
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}