@use "../abstracts/vars";

@media screen and (max-width: 1300px) {
    .header {
        &__a {
            font-size: 2rem;
        }

        &__pmb {
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 920px) {
    .projecten {
        &__article1 {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        &__div {
            gap: 3rem;
        }
    }
}


@media screen and (max-width: 450px) {
    .header {
        &__div {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 400px) {
    .projecten {
        &__img {
            width: 30rem;
        }
    }

    .project-title{
        font-size: 3rem;
    }
}

@media screen and (max-width: 470px) {
    .projectsection1__img{
        padding: 2rem;
    }

    .aics__img{
        padding: 2rem;
    }

    .renovatie__img{
        padding: 2rem;
    }

    .Wereldburger__img{
        padding: 2rem;
    }

    .Slavernijmuseum__img{
        padding: 2rem;
    }
    

    .Wereldburger__img{
        padding: 2rem;
    }

    .rama__img{
        padding: 2rem;
    }
}



@media screen and (max-width: 600px) {
    .header {
        &__a {
            font-size: 1.5rem;
        }

        &__pmb {
            font-size: 1.5rem;
        }
    }
}


@media screen and (max-width: 765px) {
    .footer {
        &__ul1 {
            font-size: 1.3rem;
        }

        &__ul2 {
            font-size: 1.3rem;
        }

        &__ul3 {
            font-size: 1.3rem;
        }
    }
}

@media screen and (max-width: 455px) {
    .footer {
        height: 30rem;

        &__nav {
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }
    }
}

@media screen and (max-width: 880px) {
    .inhoud {
        display: flex;
        flex-direction: column;


        &__content {
            font-size: 1.5rem;
        }

        &__slideshowimg {
            width: 25rem;
        }
    }
}

@media screen and (max-width: 1080px) {
    .werkwijze {
        background: vars.$Rood;


        &__subtitel {
            padding: 3rem;
        }
    }
}



@media screen and (max-width: 745px) {
    .organisatie {
        &__subtitel {
            padding: 3rem;
        }
    }
}


@media screen and (max-width: 520px) {
    .werkenbij {
        &__subtitel {
            padding: 3rem;
        }
    }
}

@media screen and (max-width: 470px) {
    .projectsection1__h1{
        padding: 3rem;
    }

    .aics__h1{
        padding: 3rem;
    }

    .renovatie__h1{
        padding: 3rem;
    }

    .Wereldburger__h1{
        padding: 3rem;
    }

    .Slavernijmuseum__h1{
        padding: 3rem;
    }

    .rama__h1{
        padding: 3rem;
    }

    .Wereldburger__h1{
        padding: 3rem;
    }
}


@media screen and (max-width: 950px) {
       
.projectenimg__video{
    width: 30rem;
}

.projectenimg2__video{
    width: 30rem;
}

.projectenimg4__img1{
    width: 30rem;
}

.projectenimg5__img1{
    width: 30rem;
}

.projectenimg2__img1{
    width: 30rem;
}

.projectenimg4__img1{
    width: 30rem;
}


.projectenimg__article2{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.projectenimg__img1{
    width: 30rem;
}

.projectenimg__img2{
    width: 30rem;
}



}




@media screen and (max-width: 1295px) {
    .projectenimg2__article2{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .projectenimg2__img2{
        width: 30rem;
    }

    .projectenimg2__img2{
        width: 30rem;
    }

    .projectenimg3__article2{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

    .projectenimg3__img1{
        width: 30rem;
    }

    .projectenimg3__img2{
        width: 30rem;
    }
}